<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


    body {
        background: linear-gradient(to right, rgba(235, 224, 232, 1) 52%, rgba(254, 191, 1, 1) 53%, rgba(254, 191, 1, 1) 100%);
        font-family: 'Roboto', sans-serif;
    }

    .card {
        border: none;
        max-width: 450px;
        border-radius: 15px;
        margin: 150px 0 150px;
        padding: 35px;
        padding-bottom: 20px !important;
    }

    .heading {
        color: #C1C1C1;
        font-size: 14px;
        font-weight: 500;
    }

    img {
        transform: translate(160px, -10px);
    }

    img:hover {
        cursor: pointer;
    }

    .text-warning {
        font-size: 12px;
        font-weight: 500;
        color: #edb537 !important;
    }

    #cno {
        transform: translateY(-10px);
    }

    input {
        border-bottom: 1.5px solid #E8E5D2 !important;
        font-weight: bold;
        border-radius: 0;
        border: 0;

    }

    .form-group input:focus {
        border: 0;
        outline: 0;
    }

    .col-sm-5 {
        padding-left: 90px;
    }

    .btn {
        background: #F3A002 !important;
        border: none;
        border-radius: 30px;
    }

    .btn:focus {
        box-shadow: none;
    }
</style>


<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <div class="col-sm-12">

            <div class="card mx-auto">
                <!-- 
            <div class="alert alert-success" role="alert">
                  {{msg}}
            </div>-->
                <p class="heading">PAYMENT DETAILS</p>
                <div class="jumbotron">
                    <h1>Welcome to Payment page!</h1>
                    <form action="{{url_for('payment2')}}" method="POST">
                        <script src='https://checkout.stripe.com/checkout.js' class='stripe-button'
                            data-key={{public_key}} data-amount='{{amount}}' data-name='Ride Payment'
                            data-description='Card payment' data-locale='auto' data-zip-code='true'>
                            </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>